@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	font-family: "Gowun Dodum", sans-serif
}

a{
	text-decoration: none;
	color: inherit;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	border: 1px solid red;
	height: 100%;
	clear: both;
	display: flex;
}

header>div {
	flex: 1;
}

.main-layout {
	width:100%;
	height:100%;
	display: grid;
	grid-template-rows: 200px 1fr 100px;
}

#top {
	border: 1px solid orange;
	width: 60%;
	height: 40px;
	float: right;
	margin-right: 10px;
	font-weight: bold;
}

#top>li {
	text-align: center;
}

#logo {
	text-align: center;
	margin-top: 2%;
}

#logo_img {
	width: 300px;
	height: 140px;
}

div>ul {
	list-style: none;
	display: flex;
}

div li {
	float: left;
	margin-left: 20px;
}

article {
	border: 1px solid green;
	height: 100%;
}

footer {
	/* border: 1px solid blue; */
	background-color: #233c90;
	height: 100%;
}

#footer {
	color: white;
	
}

#footer>#text {
	text-align: center;
	margin-top: 40px;
}

.hide {
	display: none;
}

.show {
	display: block;	
}




/*배너 css*/

*{
	font-family: 'Nanum Gothic', sans-serif;
	
}


#title {
	width: 100%;
	height: 180px;
	background-color: #f2f2f2;
	padding: 10%;
	display: flex;
}

#title > div {
	flex: 1;
	
	
}

#image_bl {
	display: table;
	padding-right: 20%;
}

#image  {
	width: 800px;
	height: 448px;
	margin-top: -100px;
	
	display: table-cell;
	vertical-align:middle;
	
}


@keyframes cursor{
	50%{border-color: transparent;}
	
}
.text{
	font-size: 40px;
	font-weight: 500;
	display: table-cell; vertical-align: middle;
	border-right: .05em solid black;
	animation: cursor 0.5s ease infinite;
}