@charset "UTF-8";

.container{
	margin:auto; 
	width: 80%;
	margin-bottom: 5%;
	
}

#review_img {
	height: 20px;
	width: 20px;
}

#tableLine {
	border-bottom: 1px solid black;
	padding: 10px;
}

#acaInfor{
	font-weight: bold;
}

table {
	border-collapse: separate;
  	border-spacing: 10px 20px;
}

#comt_review{
	border: 1px solid #c8c8c8;
	padding: 10px;
}

#header_logo{
	margin-left: 10px;
	height: 30px;
	width: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
}

p {
	font-size: larger;
	float: left;
	font-weight: bold;
}


