input{
	border:none;
	outline:none;
}

a{
	text-decoration: none;
	color:black;
}

#searchBox-form{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
}

#searchBox-form > *:first-child{
	margin-left: 15px;
}

#searchBox-form > *:not(:last-child){
	margin-right: 15px;
}

.search__title{
	min-width: 200px;
	min-height: 30px;
}

#search-result-container{
	display: flex;
	flex-direction: column;
}

.result_data{
	background-color: rgba(103, 103, 103, 0.4);
	margin-bottom: 15px;
	justify-content: space-between;
}

.result_data:first-child {
	margin-top: 25px;
}

.search__btn{
	border:none;
	background-color: rgba(0,0,0,0);
}